.btn {
  border: 0;
  padding: 10px 22px;
  border-radius: 50px;
  font-family: $primary-font;
  cursor: pointer;
  &--primary {
    background-color: $primary1;
    box-shadow: 0px 8px 7px -2px rgba($primary1, 0.3),
      inset 0px -8px 0px -6px darken($primary1, 9);
  }
  &--secondary {
    background-color: $primary2;
    box-shadow: 0px 8px 7px -2px rgba($primary2, 0.3),
      inset 0px -8px 0px -6px darken($primary2, 9);
  }
  &--primary,
  &--secondary {
    color: #fff;
  }
}
