$body-font-size: 18px;

$primary-font: "Bai Jamjuree", sans-serif;

// Primary Colors
$primary1: hsl(171, 66%, 44%);
$primary2: hsl(233, 100%, 69%);

// Neutral Colors
$secondary1: hsl(210, 10%, 33%);
$secondary2: hsl(201, 11%, 66%);
